.tittle {
    background-color: #2F303A;
    padding: 200px 0;
    max-width: 1600px;
    height: 600px;
    margin: 0 auto;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(/image/hero-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.tittle__text {
    color: var(--animation-color);
    @include font(44px, 900, 1.36em, 0.06em);
    text-align: center;
    text-transform: uppercase;
    max-width: 696px;
    text-align: center;
    margin: 0px auto 30px;
}

.tittle__botton {
    color: var(--animation-color);
    background-color: var(--button-color);
    @include font(16px, 700, 1.88em, 0.06em);
    border: 0px;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: inherit;
    cursor: pointer;
    margin: 0 auto;
    padding: 10px 32px;
    border-radius: 4px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: #188CE8;
        color: var(--animation-color);
    }
}